email_automation/workflow_1_json.json
{
  "name": "Website Monitor & Alert System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "intervalsSize": 5
            }
          ]
        }
      },
      "id": "1a2b3c4d-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://your-website.com",
        "options": {
          "timeout": 10000
        }
      },
      "id": "2b3c4d5e-6f7g-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "Check Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "3c4d5e6f-7g8h-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "Website Status Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "alerts@yourcompany.com",
        "toEmail": "admin@yourcompany.com",
        "subject": "✅ Website is UP - {{$now.format('YYYY-MM-DD HH:mm')}}",
        "message": "Good news! Your website is currently accessible.\n\nWebsite: https://your-website.com\nStatus Code: {{$('Check Website').item.json.statusCode}}\nResponse Time: {{$('Check Website').item.json.headers['x-response-time'] || 'N/A'}}\nChecked at: {{$now.format('YYYY-MM-DD HH:mm:ss')}}\n\nThis is an automated message from your website monitoring system."
      },
      "id": "4d5e6f7g-8h9i-0j1k-2l3m-n4o5p6q7r8s9",
      "name": "Send UP Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "alerts@yourcompany.com",
        "toEmail": "admin@yourcompany.com",
        "subject": "🚨 URGENT: Website is DOWN - {{$now.format('YYYY-MM-DD HH:mm')}}",
        "message": "ALERT: Your website is currently inaccessible!\n\nWebsite: https://your-website.com\nError: {{$('Check Website').item.json.error || 'Connection failed'}}\nStatus Code: {{$('Check Website').item.json.statusCode || 'N/A'}}\nChecked at: {{$now.format('YYYY-MM-DD HH:mm:ss')}}\n\nPlease investigate immediately.\n\nThis is an automated message from your website monitoring system."
      },
      "id": "5e6f7g8h-9i0j-1k2l-3m4n-o5p6q7r8s9t0",
      "name": "Send DOWN Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Check Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website": {
      "main": [
        [
          {
            "node": "Website Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Status Check": {
      "main": [
        [
          {
            "node": "Send UP Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send DOWN Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-15T10:00:00.000Z",
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1",
  "triggerCount": 0,
  "tags": []
}